.body{
    font-family: "Poppins", sans-serif;
}
:root {
  scroll-behavior: smooth;
}
.sidebar-nav{
	list-style: none;
}
.sidebar-nav>li{
	margin-top: 20px;
	padding: 10px;
	border-radius: 20px;
}
.sidebar-nav>li:hover{
	background-color: #40be9d;
	transition: all .5s ease;
	.sidebar-nav>li>a{
		color: #FFFFFF;
	}
}
.sidebar-nav>li>a{
	text-decoration: none;
	color: #FFFFFF;
}
