<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragment/header::boots_trap}">
    <meta charset="UTF-8">
    <title> Students</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="fragments :: nav_bar"></div>
    <div class="row mt-2">
        <div th:if="${param.update_success}" class=" alert alert-info">
            A Student has been updated successfully.
        </div>
        <div th:if="${param.delete_success}" class=" alert alert-info">
            A Student has been deleted successfully.
        </div>
    </div>
    <div th:switch="${students}">
        <h2 th:case="null">There are no students to display</h2>
        <div th:case="*">
            <h2>All Stuents</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    <td><a href="#" th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-info">Edit</a></td>
                    <td><a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="#" th:href="@{/registration/registration-form}" class="btn btn-info">Add a new user</a> </p>
    </div>
</div>
</body>
</html>
